<div class="container-fluid p-0">
    <h3><strong>CUSTOMER DETAIL</strong></h3>
    <div class="row">
        <div class="col-12 col-lg-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#customer-information">Customer Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#kyc-information">KYC Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#AML-Classification-Status">AML Classification - Status: Low</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#register-documents">Registration Documents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#vkyc-documents">VKYC Documents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#card">Card</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="customer-information" role="tabpanel">
                            <!-- CUSTOMER INFORMATION: START -->
                            <div class="row">
                                <div class="col-lg-6">
                                <table class="table table-sm mt-2 mb-4">
                                    <tbody>
                                    <tr>
                                        <th>Full Name</th>
                                        <td>{{custDetail?.fullName}}</td>
                                    </tr>
                                    <tr>
                                        <th>Gender</th>
                                        <td>{{custDetail?.customerInqRs?.gender}}</td>
                                    </tr>
                                    <tr>
                                        <th>ID No.</th>
                                        <td>{{custDetail?.customerInqRs?.identificationDocumentDtls1?.uniqueId}}</td>
                                    </tr>
                                    <tr>
                                        <th>POI</th>
                                        <td>{{custDetail?.customerInqRs?.identificationDocumentDtls1?.placeOfIssue}}</td>
                                    </tr>
                                    <tr>
                                        <th>PID No.</th>
                                        <td>{{custDetail?.customerInqRs?.identificationDocumentDtls2?.uniqueId}}</td>
                                    </tr>
                                    <tr>
                                        <th>PID Status</th>
                                        <td>{{custDetail?.customerInqRs?.PIDStatus}}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{custDetail?.customerInqRs?.phoneNo}}</td>
                                    </tr>
                                    <tr>
                                        <th>Occupation</th>
                                        <td>{{custDetail?.customerInqRs?.occuType}}</td>
                                    </tr>
                                    <tr>
                                        <th>Permanent Address</th>
                                        <td>{{custDetail?.customerInqRs?.permanentAddrDetails?.addressLine1}}</td>
                                    </tr>
                                    <tr>
                                        <th>Current Address</th>
                                        <td>{{custDetail?.customerInqRs?.currentAddrDetails?.addressLine1}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="col-lg-6">
                                <table class="table table-sm mt-2 mb-4">
                                    <tbody>
                                    <tr>
                                        <th>CIF</th>
                                        <td>{{custDetail?.cifId}}</td>
                                    </tr>
                                    <tr>
                                        <th>DOB</th>
                                        <td>{{custDetail?.customerInqRs?.dob}}</td>
                                    </tr>
                                    <tr>
                                        <th>DOI</th>
                                        <td>{{custDetail?.customerInqRs?.identificationDocumentDtls1?.issueDate}}</td>
                                    </tr>
                                    <tr>
                                        <th>DOE</th>
                                        <td>{{custDetail?.customerInqRs?.identificationDocumentDtls1?.expiryDate}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{custDetail?.customerInqRs?.emailId}}</td>
                                    </tr>
                                    <tr>
                                        <th>Possition</th>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <th>Segment</th>
                                        <td>{{custDetail?.customerInqRs?.segClass}}</td>
                                    </tr>
                                    <tr>
                                        <th>SubSegment</th>
                                        <td>{{custDetail?.customerInqRs.subSeg}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <!-- CUSTOMER INFORMATION: END -->
                        </div>

                        <div class="tab-pane fade text-center" id="kyc-information" role="tabpanel">
                            <!-- KYC INFORMATION: START -->
                            <div class="row mt-2 align-middle">
                                <div class="col-md col-lg-3">
                                <div class="mb-3">
                                    <div class="input-group">
                                    <span class="input-group-text btn-secondary">KYC Method</span>
                                    <input type="text" class="form-control" [(ngModel)]="custDetail?.customerInqRs.kycType" disabled>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md col-lg-3">
                                <div class="mb-3">
                                    <div class="input-group">
                                    <span class="input-group-text btn-secondary">KYC Status</span>
                                    <input type="text" class="form-control" [(ngModel)]="custDetail?.customerInqRs.kycStatus" disabled>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                    <span class="input-group-text btn-secondary">Reason Status</span>
                                    <input type="text" class="form-control" [(ngModel)]="currentStatus" disabled>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- KYC INFORMATION: END -->
                        </div>

                        <div class="tab-pane fade" id="AML-Classification-Status" role="tabpanel">
                            <!-- AML Classification - Status: low: START -->
                            <div class="row">
                                <div class="col-lg-5">
                                    <h5 class="card-title mb-0">Summary Table</h5>
                                    <table class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Value</th>
                                                <th>Risk Level</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="d-none d-xl-table-cell">Black List</th>
                                                <td>
                                                    <div class="row">
                                                        <div class="input-group">
                                                        <select class="form-select form-select-value" disabled>
                                                            <option>Select...</option>
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskBlckLst)">{{custDetail?.riskBlckLst}}</span></td>
                                            </tr>
                                            <tr>
                                                <th class="d-none d-xl-table-cell">Country</th>
                                                <td>VIET NAM</td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskNation)">{{custDetail?.riskNation}}</span></td>
                                            </tr>
                                            <tr>
                                                <th class="d-none d-xl-table-cell">Classification of Transaction</th>
                                                <td>...</td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskTrans)">{{custDetail?.riskTrans}}</span></td>
                                            </tr>
                                            <tr>
                                                <th class="d-none d-xl-table-cell">PEP List</th>
                                                <td>
                                                    <div class="row">
                                                        <div class="input-group">
                                                        <select class="form-select form-select-value" disabled>
                                                            <option>Select...</option>
                                                            <option>Yes</option>
                                                            <option>No</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskPEP)">{{custDetail?.riskPEP}}</span></td>
                                            </tr>
                                            <tr>
                                                <th class="d-none d-xl-table-cell">Occupation</th>
                                                <td>...</td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskOccu)">{{custDetail?.riskOccu}}</span></td>
                                            </tr>
                                            <tr>
                                                <th class="d-none d-xl-table-cell">Product/Service</th>
                                                <td>...</td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskSrvReq)">{{custDetail?.riskSrvReq}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-7">
                                    <h5 class="card-title mb-0">AML Classification Matrix</h5>
                                    <table class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Black List</th>
                                                <th>PEP List</th>
                                                <th>Country</th>
                                                <th>Occupation</th>
                                                <th>Classification of Transaction</th>
                                                <th>Product/Service</th>
                                                <th>Final Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskBlckLst)">{{custDetail?.riskBlckLst}}</span></td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskPEP)">{{custDetail?.riskPEP}}</span></td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskNation)">{{custDetail?.riskNation}}</span></td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskOccu)">{{custDetail?.riskOccu}}</span></td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskTrans)">{{custDetail?.riskTrans}}</span></td>
                                                <td><span class="text-uppercase" [class]="setColor(custDetail?.riskSrvReq)">{{custDetail?.riskSrvReq}}</span></td>
                                                <td><span [class]="setColor(custDetail?.finalRisk)">{{ getNameforFinalRisk(custDetail?.finalRisk, '') }}</span></td>
                                            </tr>        
                                        </tbody>
                                    </table>

                                    <div class=" mt-4">
                                        <h5 class="card-title mb-0">Changing History</h5>
                                        <table class="table table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Date Time</th>
                                                    <th>Modified Fields</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let items of data?.history_update">
                                                    <td>{{items?.user || 'System Init'}}</td>
                                                    <td>{{items?.createdAt}}</td>
                                                    <td>  
                                                        <div *ngFor="let log of items.logs | keyvalue">
                                                            <p style="font-weight: bold;">Field: {{getNameKeyofHisUpdate(log.key)}}</p>
                                                            <p style="font-weight: bold;">New value: {{getNameforFinalRisk(log.value, 'new')}}</p>
                                                            <p style="font-weight: bold;">Old value: {{getNameforFinalRisk(log.value, 'old')}}</p>
                                                        </div>
                                                    </td>
                                                </tr>        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- AML Classification - Status: low: END -->
                        </div>

                        <div class="tab-pane fade" id="register-documents" role="tabpanel">
                            <!-- REGISTRATION DOCUMENTS: START -->
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Portrait</h5>
                                        </div>
                                        <img class="card-img-top rounded me-1" src="https://sso.ubank.vn/ALL/20210303050811/assets/images/image.jpg" alt="Unsplash">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Front ID</h5>
                                        </div>
                                        <img class="card-img-top rounded me-1" src="https://sso.ubank.vn/ALL/20210303050811/assets/images/image.jpg" alt="Unsplash">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Back ID</h5>
                                        </div>
                                        <img class="card-img-top rounded me-1" src="https://sso.ubank.vn/ALL/20210303050811/assets/images/image.jpg" alt="Unsplash">
                                    </div>
                                </div>
                            </div>
                            <!-- REGISTRATION DOCUMENTS: END -->
                        </div>

                        <div class="tab-pane fade" id="vkyc-documents" role="tabpanel">
                            <!-- VKYC DOCUMENTS: START -->
                            <div class="row">
                                <p>Don't have video KYC.</p>
                            </div>
                            <!-- VKYC DOCUMENTS: END -->
                        </div>
                        <div class="tab-pane fade" id="card" role="tabpanel">
                            <!-- CARD: START -->
                            <div class="row">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Card Item #1 <span class="badge bg-warning mx-4">Pending</span>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="mb-4">
                                                                    Hello <strong>Charles Hall</strong>,
                                                                    <br>
                                                                    Something information <strong>Card</strong>.
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <h5 class="text-muted mb-0"><strong>Send SMS</strong></h5>
                                                                        <strong class="badge bg-primary mt-2" style="cursor: pointer; font-size: 12px;">Go to URL</strong>
                                                                    </div>
                                                                    <div class="col-md-6 text-md-end">
                                                                        <div class="text-muted">Date</div>
                                                                        <strong>October 2, 2018 - 03:45 pm</strong>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <h5 class="text-muted mb-0"><strong>Pending Card</strong></h5>
                                                                        <!-- <strong class="badge bg-success">Success</strong> -->
                                                                    </div>
                                                                    <div class="col-md-6 text-md-end">
                                                                        <div class="text-muted">Date</div>
                                                                        <strong>October 2, 2018 - 03:45 pm</strong>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Card Item #2 <span class="badge bg-danger mx-4">Fail</span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="mb-4">
                                                                    Hello <strong>Charles Hall</strong>,
                                                                    <br>
                                                                    Something information <strong>Card</strong>.
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <h5 class="text-muted mb-0"><strong>Send SMS</strong></h5>
                                                                        <strong class="badge bg-primary mt-2" style="cursor: pointer; font-size: 12px;">Go to URL</strong>
                                                                    </div>
                                                                    <div class="col-md-6 text-md-end">
                                                                        <div class="text-muted">Date</div>
                                                                        <strong>October 2, 2018 - 03:45 pm</strong>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <h5 class="text-muted mb-0"><strong>Fail</strong></h5>
                                                                        <strong>Reason for failure</strong>
                                                                    </div>
                                                                    <div class="col-md-6 text-md-end">
                                                                        <div class="text-muted">Date</div>
                                                                        <strong>October 2, 2018 - 03:45 pm</strong>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Card Item #3 <span class="badge bg-success mx-4">Success</span>
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="mb-4">
                                                                    Hello <strong>Charles Hall</strong>,
                                                                    <br>
                                                                    Something information <strong>Card</strong>.
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <h5 class="text-muted mb-0"><strong>Send SMS</strong></h5>
                                                                        <strong class="badge bg-primary mt-2" style="cursor: pointer; font-size: 12px;">Go to URL</strong>
                                                                    </div>
                                                                    <div class="col-md-6 text-md-end">
                                                                        <div class="text-muted">Date</div>
                                                                        <strong>October 2, 2018 - 03:45 pm</strong>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <h5 class="text-muted mb-0"><strong>Pending Card</strong></h5>
                                                                        <!-- <strong class="badge bg-success">Success</strong> -->
                                                                    </div>
                                                                    <div class="col-md-6 text-md-end">
                                                                        <div class="text-muted">Date</div>
                                                                        <strong>October 2, 2018 - 03:45 pm</strong>
                                                                    </div>
                                                                </div>
                                                                <hr/>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <h5 class="text-muted mb-0"><strong>Success</strong></h5>
                                                                    </div>
                                                                    <div class="col-md-6 text-md-end">
                                                                        <div class="text-muted">Date</div>
                                                                        <strong>October 2, 2018 - 03:45 pm</strong>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD: END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
