<div class="container-fluid p-0">
    <div *ngIf="listURLCustomerPage.detail === false && listURLCustomerPage.card === false">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header col-auto d-none d-sm-block">
                        <h3><strong>Customer Pool</strong></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">CIF</button>
                                        <input type="text" class="form-control" placeholder="CIF...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Phone Number</button>
                                        <input type="text" class="form-control" placeholder="Phone Number...">
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Customer ID</button>
                                        <input type="text" class="form-control" placeholder="Customer ID...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Email Address</button>
                                        <input type="text" class="form-control" placeholder="Email Address...">
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Customer Name</button>
                                        <input type="text" class="form-control" placeholder="Customer Name...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Status</button>
                                        <select [(ngModel)]="status" class="form-select">
                                            <option *ngFor="let item of statusList" [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">DOB (DD-MM-YYYY)</button>
                                        <input type="text" class="form-control" placeholder="DD-MM-YYYY...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Status Risk</button>
                                        <select [(ngModel)]="statusRisk" class="form-select">
                                            <option *ngFor="let item of statusRiskList" [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md col-md-4">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Segment</button>
                                        <select [(ngModel)]="segment" class="form-select">
                                            <option *ngFor="let item of segmentList" [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md col-md-4">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">SubSegment</button>
                                        <select [(ngModel)]="subsegment" class="form-select">
                                            <option *ngFor="let item of subsegmentList" [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md col-md-4">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button class="btn btn-secondary" type="button">Notify Risk Auto</button>
                                        <select [(ngModel)]="diffRisk" class="form-select">
                                            <option *ngFor="let item of diffRiskList" [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md text-center mt-3">
                                <button class="btn btn-primary col-md-4">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header col-auto d-none d-sm-block">
                        <h3><strong>Customer Table</strong></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <table id="datatables-column-search-text-inputs" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>CIF</th>
                                        <th>Customer Name</th>
                                        <th>Customer ID</th>
                                        <th>Phone Number</th>
                                        <th>Email Address</th>
                                        <th>KYC Type</th>
                                        <th>Date EKYC</th>
                                        <th>Date VKYC</th>
                                        <th>DOB</th>
                                        <th>Risk Final</th>
                                        <th>Notify</th>
                                        <th>Segment</th>
                                        <th>SubSegment</th>
                                        <th>Account</th>
                                        <th [width]="200">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>123456789</td>
                                        <td>Nguyen Van A</td>
                                        <td>0123456789</td>
                                        <td>0369369907</td>
                                        <td>vana@gmail.com</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>02-02-2023</td>
                                        <td>Risk Final</td>
                                        <td>Notify</td>
                                        <td>Segment</td>
                                        <td>SubSegment</td>
                                        <td>Account</td>
                                        <td>
                                            <button routerLink="/customer-page/detail" class="btn btn-primary">View</button>
                                            <button class="btn btn-danger mx-1">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Paginate Page: Start -->
                            <!-- <ngb-pagination
                                [collectionSize]="120"
                                [(page)]="currentPage"
                                [maxSize]="5"
                                [rotate]="true"
                                [boundaryLinks]="true"
                            ></ngb-pagination> -->
                            <!-- Paginate Page: End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>

