
<div data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <!-- Login page: Start -->
    <div *ngIf="isLoginPage === false" class="wrapper">
        <div class="main">
            <app-login-page></app-login-page>
        </div>
    </div>
    <!-- Login page: End -->

    <div *ngIf="isLoginPage === true" class="wrapper">
        <!-- Sidebar -->
        <div>
            <app-sidebar></app-sidebar>
        </div>

        <!-- Main -->
        <div class="main">
            <!-- Header -->
            <app-header></app-header>

            <!-- Content -->
            <div *ngIf="isCheckRole !== null" class="content">
                <router-outlet></router-outlet>
            </div>
            <div *ngIf="isCheckRole === null && isCheckRoleGet === true" class="content">
                <h3>Làm gì có quyền mà xem!!!</h3>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="isLoginPage === true && isCheckRole === null" class="wrapper">
        <div class="main">
            <app-header></app-header>
            <h3>Làm gì có quyền mà xem!!!</h3>
        </div>
    </div> -->
</div>




