<div class="container-fluid p-0">
    <!-- Onboarding: Start -->
    <div class="row">
        <div class="row mb-2">
            <div class="col-auto d-none d-sm-block">
                <h3>Onboarding</h3>
            </div>
        </div>
        <div class="row">
            <!-- Download App: Start -->
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">DOWNLOAD APP</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="d-none d-xl-table-cell">Total_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Today</th>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Week</th>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Month</th>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Download App: End -->
    
            <!-- SUBMIT EKYC: Start -->
            <div class="col-sm-6 col-xl-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">SUBMIT EKYC</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">New_Cust</th>
                                        <th class="d-none d-xl-table-cell">Exist_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SUBMIT EKYC: End -->
    
            <!-- VIDEO STATEMENT: Start -->
            <div class="col-sm-6 col-xl-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">VIDEO STATEMENT</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">New_Cust</th>
                                        <th class="d-none d-xl-table-cell">Exist_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- VIDEO STATEMENT: End -->
    
            <!-- FACE MATCH: Start -->
            <div class="col-sm-6 col-xl-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">FACE MATCH</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">New_Cust</th>
                                        <th class="d-none d-xl-table-cell">Exist_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FACE MATCH: eND -->
    
            <!-- PASS ONBOARING: Start -->
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">PASS ONBOARING</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">New_Cust</th>
                                        <th class="d-none d-xl-table-cell">Exist_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PASS ONBOARING: eND -->
        </div>
    </div>
    <!-- Onboarding: End -->

    <!-- Customer Error: Start -->
    <div class="row">
        <div class="row mb-2">
            <div class="col-auto d-none d-sm-block">
                <h3>Cutomer Error</h3>
            </div>
        </div>
        <div class="row">
            <!-- LOCK FACE MATCH: Start -->
            <div class="col-sm-6 col-xl-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">LOCK FACE MATCH</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="d-none d-xl-table-cell">Total_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Today</th>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Week</th>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Month</th>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LOCK FACE MATCH: End -->

            <!-- LOCK SIGN CONTRACT: Start -->
            <div class="col-sm-6 col-xl-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">LOCK SIGN CONTRACT</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Total_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LOCK SIGN CONTRACT: End -->

            <!-- FAIL OTP: Start -->
            <div class="col-sm-6 col-xl-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title text-primary">FAIL OTP</h5>
                            </div>
                            <table class="table table-sm table-striped my-0 text-center">
                                <thead>
                                    <tr>
                                        <th class="d-none d-xl-table-cell">Total_Cust</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-xl-table-cell">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAIL OTP: End -->
        </div>
    </div>
    <!-- Customer Error: End -->

    <!-- System Error: Start -->
    <div class="row">
        <div class="row mb-2">
            <div class="col-auto d-none d-sm-block">
                <h3>System Error</h3>
            </div>
        </div>
        <div class="row">
            <!-- TODAY WEEK MONTH: Start -->
            <div class="col-sm-6 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Today: Start -->
                            <div class="col-sm-4 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Today</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                    <th scope="col" style="padding: 2px;">#</th>
                                                    <th scope="col" style="padding: 2px;">Name</th>
                                                    <th scope="col" style="padding: 2px;">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of arrSystemErrorsDaily.slice(0,10); let i = index">
                                                        <th scope="row" style="padding: 2px;">{{i+1}}</th>
                                                        <td style="padding: 2px;">{{arrSystemErrorsDaily[i].name}}</td>
                                                        <td style="padding: 2px;">{{arrSystemErrorsDaily[i].value}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <!-- Today: End -->

                            <!-- Week: Start -->
                            <div class="col-sm-4 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Week</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="padding: 2px;">Name</th>
                                                        <th scope="col" style="padding: 2px;">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of arrSystemErrorsWeek.slice(0,10); let i = index">
                                                        <td style="padding: 2px;">{{arrSystemErrorsDaily[i].name}}</td>
                                                        <td style="padding: 2px;">{{arrSystemErrorsDaily[i].value}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <!-- Week: End -->

                            <!-- Month: Start -->
                            <div class="col-sm-4 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Month</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="padding: 2px;">Name</th>
                                                        <th scope="col" style="padding: 2px;">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of arrSystemErrorsMonth.slice(0,10); let i = index">
                                                        <td style="padding: 2px;">{{arrSystemErrorsDaily[i].name}}</td>
                                                        <td style="padding: 2px;">{{arrSystemErrorsDaily[i].value}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Month: End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- TODAY WEEK MONTH: End -->

            <!-- CRITICAL ERROR: Start -->
            <div class="col-sm-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="card-title mb-0 text-center text-primary">Critical Error</h5>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                <div class="alert-icon">
                                                    <i class="far fa-fw fa-bell"></i>
                                                </div>
                                                <div class="alert-message">
                                                    <strong>Somthing wrong from blabla!</strong>
                                                </div>
                                            </div>

                                            <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                <div class="alert-icon">
                                                    <i class="far fa-fw fa-bell"></i>
                                                </div>
                                                <div class="alert-message">
                                                    <strong>Somthing wrong from blabla!</strong>
                                                </div>
                                            </div>

                                            <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                <div class="alert-icon">
                                                    <i class="far fa-fw fa-bell"></i>
                                                </div>
                                                <div class="alert-message">
                                                    <strong>Somthing wrong from blabla!</strong>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <!-- Today: End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- CRITICAL ERROR: End -->
        </div>
    </div>
    <!-- System Error: End -->

    <!-- Funtionals: Start -->
    <div class="row">
        <div class="row mb-2">
            <div class="col-auto d-none d-sm-block">
                <h3>Functionals</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Name: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Name</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">ISSUE CARD</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">CREATE-SIGNATURE</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">E-CONTRACT</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">E-STATEMENT</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">OPEN TD</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CLOSURE TD</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Name: End -->
    
                            <!-- Today: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Today</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Total_Cust</th>
                                                        <th scope="col">Success</th>
                                                        <th scope="col">Failure</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Today: End -->
    
                            <!-- Week: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Week</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Total_Cust</th>
                                                        <th scope="col">Success</th>
                                                        <th scope="col">Failure</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Week: End -->
    
                            <!-- Month: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Month</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Total_Cust</th>
                                                        <th scope="col">Success</th>
                                                        <th scope="col">Failure</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Month: End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Funtionals: End -->
    <div class="row">
        <div class="row mb-2">
            <div class="col-auto d-none d-sm-block">
                <h3>Transactions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Name: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Name</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">NAPAS ATM DEPOSIT</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Name: End -->
    
                            <!-- Today: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Today</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Total_Cust</th>
                                                        <th scope="col">Success</th>
                                                        <th scope="col">Failure</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Today: End -->
    
                            <!-- Week: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Week</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Total_Cust</th>
                                                        <th scope="col">Success</th>
                                                        <th scope="col">Failure</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Week: End -->
    
                            <!-- Month: Start -->
                            <div class="col-sm-3 text-center">
                                <div class="text-center">
                                    <h5 class="card-title mb-0 text-primary">Month</h5>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <table class="table table-xs table table-sm table-striped my-0 text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Total_Cust</th>
                                                        <th scope="col">Success</th>
                                                        <th scope="col">Failure</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                        <td style="padding: 2px;">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Month: End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Transactions: Start -->
    <!-- Transactions: End -->
</div>
